Hi
= @user.first_name
%br/

Professor
= @notification.notifiable.teachers.first.last_name
has cancelled class for
= @notification.notifiable.name
that was scheduled to take place on
= @notification.date.strftime "%A (%D)."
