.about
  #wrap
    .container
      .header
        %h1 About Us
        %h3 Get familiar with our origin story.
    %hr
      .container
        %h3.our_story Our Story
        .company_summary
          %p ClassStatus is an education startup that was co-founded by Matthew Harris  Nicholas Guyett in May of 2013. The goal of the product is to send SMS messages to college students whenever their professors cancel class and never let a student show up to a canceled class.
          %p Matthew conceived the idea for ClassStatus out of his frustration as a community college student commuting to campus only to find out that his class has been cancelled.  ClassStatus will hopefully solve this problem and save our users time and money as well as bring them some piece of mind.
          %p
            We're headquarted in
            = succeed "," do
              %b Corona, California
            with no actual offices (as of now) and has had no investors backing it. This was made by students for students.
        /
          <iframe src="//player.vimeo.com/video/58848675?title=0&byline=0&portrait=0&color=ffffff" width="463" height="260" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      %hr/
      .container
        %h3.our_team Our Team
        .profile
          .picture
          .info
            %h1.name Matthew Harris
            %h2.title Co-founder
            %p.bio Matthew Harris is a 21 year old from Corona, California and was the one to come up with the concept for ClassStatus.  Matthew also is responsible for most of ClassStatus's front end design and running the business side of things.  Outside of ClassStatus, Matthew is currently a sophomore at Norco College majoring Computer Science and minoring in Psychology.  He currently resides in Corona with his family.  
            .social
              %a{href: "http://twitter.com/mattryanharris", target:"_blank"}
                .twitter
                  %i.fa.fa-twitter
              %a{href: "http://instagram.com/mattryanharris", target:"_blank"}
                .instagram
                  %i.fa.fa-instagram
              %a{href: "https://bitbucket.org/mattryanharris", target:"_blank"}
                .bitbucket
                  %i.fa.fa-bitbucket
        .profile
          #nick.picture
          .info
            %h1.name Nicholas Guyett
            %h2.title Co-founder
            %p.bio Nicholas Guyett is a Professional Web developer who manages the the technical aspects of ClassStatus.  He manages all technical aspects of ClassStatus and is responsible for keeping it running smoothly.
            .social
              %a{href: "http://twitter.com/nicholasguyett", target:"_blank"}
                .twitter
                  %i.fa.fa-twitter
              %a{href: "https://bitbucket.org/livingparadox", target:"_blank"}
                .bitbucket
                  %i.fa.fa-bitbucket
        .profile
          #jamie.picture
          .info
            %h1.name Jamie McElwain
            %h2.title Developer
            %p.bio Jamie is a 18 year old Web Developer from Dorset, England. With a background in high-quality website production, Jamie transfers Matthew's designs into rich experiences for the user. Outside of ClassStatus, Jamie is currently studying Maths and Physics at his local school and plays Badminton, Tennis and Soccer weekly.
            .social
              %a{href: "http://twitter.com/_jmie", target:"_blank"}
                .twitter
                  %i.fa.fa-twitter
              %a{href: "http://bitbucket.org/jmcelwain", target:"_blank"}
                .bitbucket
                  %i.fa.fa-bitbucket
    -# 
      %hr
        .container
          .companyinfo
            .box
              #cancelled.icon
              .widget
                .info
                  %h1.number 41
                  %h3 Classes cancelled
              .shadow
            .box
              #team.icon
              .widget
                .info
                  %h1.number 212
                  %h3 Text messages sent
              .shadow
            .box
              #bitbucket.icon
              .widget
                .info
                  %h1.number 242
                  %h3 Repo commits
              .shadow
        %hr/
        
        .container
          .socialconnect
            %h3 Connect with us
            %p on our social networks
            %a{href: "http://facebook.com/classstatus", target:"_blank"}
              %span.fa-stack.fa-4x.facebook
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-facebook.fa-stack-1x.fa-inverse
            %a{href: "http://twitter.com/classstatus", target:"_blank"}
              %span.fa-stack.fa-4x.twitter
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-twitter.fa-stack-1x.fa-inverse
            %a{href: "http://instagram.com/classstatus", target:"_blank"}
              %span.fa-stack.fa-4x.instagram
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-instagram.fa-stack-1x.fa-inverse
            %a{href: "http://bitbucket.com/classstatus", target:"_blank"}
              %span.fa-stack.fa-4x.bitbucket
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-bitbucket.fa-stack-1x.fa-inverse
