.privacy
  .banner
    .test
    .container
      .header
        %h1 ClassStatus 
        %h3 Privacy Policy
      %p.updated This Privacy Policy was last modified on June 08, 2014

  .container
    %p
      %strong Introduction
      %br/
      ClassStatus keeps college students notified about their canceled class through text message and email.  Teachers can sign up and create their classes, any student subscribed to a class will be notified anytime the professor of said class, cancels it. 
    %p ClassStatus ("us", "we", or "our") operates http://classstatus.co (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.
    %p We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://classstatus.co.
    %p
      %strong Information Collection And Use
      %br/
      While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address and phone number ("Personal Information").
      %br/
    %p
      %strong Log Data
      %br/
      Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
      %br/
    %p
      %strong Cookies
      %br/
      Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
      %br/
    %p Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
    %p
      %strong Security
      %br/
      The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
      %br/
    %p
      %strong Links To Other Sites
      %br/
      Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
      %br/
    %p ClassStatus has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.
    %p
      %strong Changes To This Privacy Policy
      %br/
      ClassStatus may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.
      %br/
    %p
      %strong Contact Us
      %br/
      If you have any questions about this Privacy Policy, please contact us.
      %br/
      %br/