
.about	{

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.1;
}


	body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	div.header	{
	margin-bottom: 0px;
	padding: 9px 0px;
	}

	div.header h1	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 55px;
	margin-bottom: 0px;
	margin-top: 0px;
	}

	div.header h3	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 28px;
	margin-top: 0px;
	margin-left:-1px;
	}

	#align {
	font-family: 'Glegoo', serif;
	vertical-align: middle;
	color:#363635;
	}

	div.company_summary	{
	padding:5px;
	display: inline-block;
	margin-right: 2px;
	float:left;
	margin-left: 35px;
	}

	div.company_summary p {
	width: 540px;
	text-align: justify;
	line-height: 25px;
	font-size: 15px;
	margin-top: -4px;
	}

	.our_team	{
	margin-bottom: 23px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 6px;
	}

	.our_story	{
	margin-bottom: 13px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 6px;

	}


	div.profile	{
	margin-bottom: 45px;
	margin-left:35px;
	}

	div.picture	{
	background-image: image-url("matthew.png");
	width: 221px;
	height: 199px;
	display: inline-block;
	margin-right: 20px;
	}

	#jamie	{
	background-image: image-url("jamie.png");
	}

	#nick	{
	background-image: image-url("nick.png");
	}

	.record	{
	border:1px solid #ccc;
	max-width: 540px;
border-radius: 4px;
float:right;
margin-bottom: 1em;
	}

	.screenshot	{
	background-image: image-url("screenshots.png");
	height:258px;
	width:468px;
	float:right;
	display:block;
	margin:14px 16px;
	}

	div.info	{
	display: inline-block;
	vertical-align: top;
	}

	h1.name	{
	font-family: "Open Sans", sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: #000;
	margin-bottom: 5px;
	margin-top: 5px;
	}

	h2.title	{
	font-family: "Open Sans", sans-serif;
	font-size: 22px;
	margin-top: 5px;
	font-weight: 100;
	color: #747474;
	margin-bottom: 5px;
	}

	p.bio {
	font-family: "Open Sans";
	font-size: 16px;
	color: #000;
	max-width:633px;
	height: auto;
	line-height: 26px;
	font-weight: 100;
	text-align: justify;
	margin-bottom: 12px;
	margin-top:0px;
	}

	div.social	{


	}


	div.social .facebook	{
	width: 36px;
	height: 36px;
	background:#3b5998;
	color: white;
	text-align: center;
	line-height: 36px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 3px;
	}

	div.social .twitter	{
	width: 36px;
	height: 36px;
	background:#55acee;
	color: white;
	text-align: center;
	line-height: 36px;
	border-radius: 50%;
	display: inline-block; 
	margin-right: 3px;
	}

	div.social .instagram	{
	width: 36px;
	height: 36px;
	background:#366b96;
	color: white;
	text-align: center;
	line-height: 36px;
	border-radius: 50%;
	display: inline-block; 
	margin-right: 3px;
	}

	div.social .bitbucket	{
	width: 36px;
	height: 36px;
	background:#205081;
	color: white;
	text-align: center;
	line-height: 36px;
	border-radius: 50%;
	display: inline-block; 
	}

	div.companyinfo	{
	margin-bottom: 35px;
	text-align: center;
	position: relative;
	top: -18px;
	}

	div.companyinfo .widget	{
	width: 298px;
	height: 173px;
	position: relative;
	z-index: 5;
	display: inline-block;
	background-color: #f8f8f8;
	text-align: center;
	vertical-align: top;
	}

	div.companyinfo .widget .info	{
	vertical-align: middle;
	margin-top: 42px;
	display: inline-block;

	}

	div.companyinfo .widget h3	{
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	color: #797979;
	margin-top: 7px;
	font-weight: 400;
	}

	div.companyinfo .widget h1	{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	margin-top: 5px;
	color: #5a5a5a;
	font-weight: 300;
	}

	div.companyinfo .widget h1.number	{
	font-size: 51px;
	margin-bottom: -8px;
	}

	div.companyinfo .icon	{
	width: 76px;
	height: 76px;
	display: block;
	position: relative;
	left: 110px;
	z-index: 6;
	top: 38px;
	}

	div.companyinfo #cancelled	{
	background: image-url("cancelled.png");

	}

	div.companyinfo #team	{
	background: image-url("message.png");

	}

	div.companyinfo #bitbucket	{
	background: image-url("bitbucket.png");

	}

	div.companyinfo .shadow	{
	background: image-url("shadow.png");
	width: 306px;
	z-index: 2;
	display: block;
	position: relative;
	height: 182px;
	top: -171px;
	left: 0px;
	}

	div.companyinfo .box	{
	display: inline-block;
	max-height: 263px;
	margin-right:25px;
	}

	div.socialconnect	{
	text-align: center;
	padding-bottom: 40px;
	}

	div.socialconnect {

	.twitter, .facebook, .bitbucket, .instagram {
	 -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
	}

	.facebook a:hover	{
	color:#3b5998;
	}

	.twitter:hover	{
	color:#55acee !important;
	}

	.instagram:hover	{
	color:#3f729b !important;
	}

	.bitbucket:hover	{
	color:#205081 !important;
	}

	a:hover {
	text-decoration:none;
	}
	}


	div.socialconnect p	{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	margin-top: 2px;
	}

	i {
	padding: 0;
	margin:0;
	}

	iframe	{
	display: inline-block;
	position: relative;
	top:2px;
	}

	@media (max-width: 767px) {
	.container {
	padding: 0 20px;
	}
	div.company_summary {
	margin: 0;
	}
	div.company_summary p {
	width: 100%;
	}
	iframe {
	display: none;
	}
	div.profile {
	margin-left: 0;
	margin-bottom: 90px;
	text-align: center;
	}
	div.info p.bio {
	text-align: justify;
	}
}




}
