.landing  {

* {
  margin:0;
  padding:0;
  -webkit-text-size-adjust:none;
}

/* These are useful for doing anything fun
********************************************/
/*
#body {
  -webkit-overflow-scrolling: touch;
}

*:not(html) {
  -webkit-transform: translate3d(0, 0, 0);
}
*/

/* Containers contain rows
********************************************/
.container {
  position:relative;
  width:94%;
  max-width: 1169px;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

.fullscreen {
  width: 100%;
  max-width: 100%;
}

#header {
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
}

/* Rows contain columns
********************************************/
.row {
  zoom: 1;
  width: 100%;
  overflow: hidden;
}
.row:before,
.row:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.row:after {
  clear: both;
}

.section {
  padding:2em 0;
}

/* Columns
********************************************/
[class^="col"], [class^="mcol"] {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
}

.col1 {
  width: 6.33333%;
}
.col2 {
  width: 14.6666%;
}
.col3 {
  width: 23%;
}
.col4 {
  width: 31.3333%;
}
.col5 {
  width: 39.6666%;
}
.col6 {
  width: 48%;
}
.col7 {
  width: 56.3333%;
}
.col8 {
  width: 64.6666%;
}
.col9 {
  width: 73%;
}
.col10 {
  width: 81.3333%;
}
.col11 {
  width: 89.6666%;
}
.col12 {
  width: 98%;
}

/* Offsets add margins to columns
********************************************/
.offset {
  height:1em;
}

/* Cut-off point between Tablet and Phone
********************************************/
@media (max-width: 1023px) { 

  body {
    font-size:14px;
  }

  [class^="col"] {
    width:98%;
  }


  /* Mobile behavior for offsets
  ********************************************/
  .offset {
    display:none;
  }

  .moffset {
    height:100%;
    display: block;
  }

  /* Mobile-only columns
  ********************************************/
  .mcol1 {
    width: 6.33333%;
  }
  .mcol2 {
    width: 14.6666%;
  }
  .mcol3 {
    width: 23%;
  }
  .mcol4 {
    width: 31.3333%;
  }
  .mcol5 {
    width: 39.6666%;
  }
  .mcol6 {
    width: 48%;
  }
  .mcol7 {
    width: 56.3333%;
  }
  .mcol8 {
    width: 64.6666%;
  }
  .mcol9 {
    width: 73%;
  }
  .mcol10 {
    width: 81.3333%;
  }
  .mcol11 {
    width: 89.6666%;
  }
  .mcol12 {
    width: 98%;
  }

  /* Hide on mobile
  ********************************************/
  .not_mobile {
    display:none;
  }

}

}