body {
	font-family: 'Open Sans', sans-serif;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: image-url('select-caret.png') no-repeat calc(100% - 0.5em);
	background-size: .75em;
	padding-right: 1.5em;
}

select::-ms-expand {
	display: none;
}

.sessions-new	{
	background:image-url("pattern.jpg");
	background-size:cover;
}

.brand {
	font-family: 'Glegoo', serif;
	vertical-align: middle;
	color:#363635;
}

.fixingmargin {
	margin-top:2px;
}

.logo {
	height: 40px;
	width: 40px;
}

.fixheader {
	margin-top:0px;
}

.fixbutton {
	display:inline-block;
}


a {
	text-decoration:none;
	color:black;
}
html,
body {
	height: 100%;
}

p {
	margin: 1em 0;
}

.navbar-default	{
		height:60px !important;
		border-bottom: #e7e7e7 1px solid;
		border-right:none;
		border-left:none;
		border-radius:0;
		line-height: 54px;
	}

	.navbar-nav > li > a {
		padding-top: 0;
		padding-bottom: 0;
		line-height: inherit;
	}

	.navbar-nav > li {
		padding:2px 0px;
	}

//  Wrapper for page content to push down footer 
#not-footer {
	min-height: 100%;
	min-width: 100%;
	padding-bottom:80px;
	display: table;
}

.sessions #main {
	display: table-row;
}

#header .search {
	display: inline-block;

	& > .fa-search {
		position: absolute;
		left: 12px;
		font-size: 18px;
		color:#D6D6D6;
		top: calc(50% - .5em);
	}

	& > input {
		padding-left: 2.75em;
		height:38px;
		color: #797979;
		padding-left: 35px;
		font-weight: 600;
		padding-right: 76px;
	}

	.searchbutton {
		border-width: 1px;
		border-color: #c6d1d6 #c6c6c6 #b2bbbe;
		border-style: solid;
		border-radius: 3px;
		width: 60px;
		display: inline-block;
		vertical-align: top;
		height: 25px;
		position: absolute;
		top: calc(50% - 12px);
		right: 9px;
		font-size: 11px;
		color: #797979;
		line-height: 20px;
		font-weight: 600;
		text-align: center;
		-o-transition:.2s;
	    -ms-transition:.2s;
	    -moz-transition:.2s;
	    -webkit-transition:.2s;
	    transition:.2s;
	    background-color: #e0e6e7;
		background: rgba(255, 255, 255, 0.5);
		background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%) #e0e6e7;
		background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%) #e0e6e7;
		background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%) #e0e6e7;
		background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%) #e0e6e7;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.05) 100%) #e0e6e7;
	}

	.searchbutton:hover	{
		background-color:#DADEDE;
	}

	.searchbutton:focus {
		outline:0px;
	}

	.searchbutton:active	{
		-webkit-box-shadow: inset 0 2px 6px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 2px 6px rgba(0,0,0,.24);
		box-shadow: inset 0 2px 6px rgba(0,0,0,.24);
	}
}


#header + .alert {
	margin-top: -21px;

	&:empty {
		display: none;
	}
}

footer {
	background-color:#f4f4f4;
	line-height:80px;
	border-top: #e7e7e7 1px solid;
}

//  Set the fixed height of the footer here 
#footer {
	margin-top: -80px;
	height: 80px;
	overflow: hidden;

	.sessions-new & .social {
		line-height:33px;
	}

	.info  {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		color: #AAA;
		float: left;
		line-height: 80px;
	}

	.info a {
		color:#AAA;
		vertical-align: middle;
		margin-right: 7px;
		-o-transition:.3s;
		-ms-transition:.3s;
		-moz-transition:.3s;
		-webkit-transition:.3s; 
		transition:.3s;
	}

	.info a:hover  {
		color:#858585;
	}



	a {
		text-decoration: none;
		color:#AAA;
	}

	nav {
		display: inline-block;

		ul {
			padding-left: 0;
		}
	}
	nav li {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;

		margin-right: -3px;
		
		&::before {
			content: '·';
			display: inline-block;
			margin: 0 0.5em;
		}

		&:first-child::before {
			content: none;
		}
	}

	div.social {
		display: inline-block;
		float: right;
		line-height: 80px;
	}

	div.info span {
		color: #AAA;
		vertical-align: middle;
		padding:0px 1px;
	}

	div.social a {
		color:#aaaaaa;
		vertical-align: middle;
		margin-right: -3px;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s; 
		transition:.5s;
	}


	div.social i {
		vertical-align: middle;
		font-size: 32px;
	}

	div.social a:hover {
		color:#858585 !important;
	}

	div.social a:last-child {
		margin-right: 0px;
	}

	div.social span {
		color:#aaaaaa;
		font-size: 14px;
		margin-right: 4px;
		font-family: 'Open Sans', sans-serif;
		vertical-align: middle;
	}

	.sessions-new footer {
		background-color:white;
		padding: 26px 26px;
		height:auto !important;
		}

	span {
	line-height:80px;
	}

}

footer, footer a {
	color:#aaa !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: inherit;
}
h1 {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 31px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 2px;
	padding-top: 6px;
	font-weight:600;
}



footer span, footer a {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 15px;
}

i {
	padding-right: 10px;
}

h3 {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
	padding-top: 6px;
	margin-bottom: 2px;
	font-weight:600;
}

.social a {
	text-decoration: none;
	color:rgb(66, 66, 66);
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

.social a:hover {
	color:black;
}

.thing {
	max-width:500px !important;
}

.subline {
	font-size: 21px;
	font-weight: 200;
	line-height: 1.4;
	margin-bottom: 8px;
}

.form {
	margin-bottom: 5px;
}

#cancel {
	float:right;
}

.navbar-brand {
	padding: 9px 15px;
	margin-right: 19px;
}

@media (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
	.navbar-nav > li.user-link {
		float: right;
	}
}


input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus {
	outline: 0;
}


.passwords #not-footer {
	height: 100%;
	min-height: 550px;
	position: relative;
}
.forgot	{
	.widget {
		border:1px solid rgb(218, 218, 218);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		max-width:758px;
		margin: auto;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 337px;
	}

	.top {
		background-color:rgb(247, 247, 247);
		border-bottom: 1px solid rgb(218, 218, 218);
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.top h2	{
		font-size:20px;
		font-family:'Open Sans', sans-serif;
		color:#868686;
		font-weight:300;
		padding:27px 0px;
		padding-left:30px;
		margin:0;
	}

	.middle	{
		padding:48px 0px;
	}

	.middle p {
		text-align:center;
		color:rgb(133, 133, 133);
		font-size: 19px;
		margin:0;
		padding-top:0px;
		font-weight:300;
		padding-bottom:10px;
	}

	.middle input {
		border: 1px solid rgb(209, 209, 209);
		border-radius: 3px;
		background-color: rgb(255, 255, 255);
		font: 400 16px/1.38 'Open Sans';
		color: rgb(0, 0, 0);
		max-width:380px;
		margin:0 auto;
		padding: 23px 0px;
		padding-left: 15px;

	}

	.bottom {
		background-color: rgb(247, 247, 247);
		border-top: 1px solid rgb(218, 218, 218);
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		padding: 12px 0px;
		width:100%;
		display:table;
		border-bottom: 1px solid #dadada;
	}

	.bottom .button-group	{
		float:right;
		display: table-cell;
    	vertical-align: middle;
    	margin-right: 25px;
	}

	.btn.cancel {
		border: 1px solid rgb(215, 215, 215);
	    background: rgb(255, 255, 255);
	    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0.06) 100%) rgb(255, 255, 255);
	    background:    -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0.06) 100%) rgb(255, 255, 255);
	    background:      -o-linear-gradient(270deg, rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0.06) 100%) rgb(255, 255, 255);
	    background:     -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0.06) 100%) rgb(255, 255, 255);
	    background:         linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0.06) 100%) rgb(255, 255, 255);
	    color: rgb(111, 111, 111);
	    -webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 12px 31px;
		margin-right:5px;
	}

	button.send {
		border-color: #9DBC8F #74A25D #C6DCBD;
		border-width:1px;
		border-style:solid;
		color:white;
		background: rgb(105, 186, 71);
		background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.18) 100%) rgb(105, 186, 71);
		background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.18) 100%) rgb(105, 186, 71);
		background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.18) 100%) rgb(105, 186, 71);
		background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.18) 100%) rgb(105, 186, 71);
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.18) 100%) rgb(105, 186, 71);
		padding: 12px 31px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	button.cancel:focus, button.send:focus	{
		outline:0;
	}


	button.send:active	{
		-moz-box-shadow:    inset 0px 2px 6px 1px rgba(0,0,0,0.25);
		box-shadow:         inset 0px 2px 6px 1px rgba(0,0,0,0.25);
	}

	button.cancel:active {
		-moz-box-shadow:    inset 0px 2px 6px 1px rgba(0,0,0,0.25);
		box-shadow:         inset 0px 2px 6px 1px rgba(0,0,0,0.25);
	}


}

.page {

	h1 {
		font-size: 36px;
		font-family: 'Open Sans', sans-serif;
		margin-top:0px;
		margin-bottom:-2px;
		padding-top:6px;
		font-weight:700;
		}
	
	a {
		text-decoration:none;
		color:black !important;
		}

	p {
		font-size:14px;
		font-family:'Open Sans', sans-serif;
		}
	b {
		font-size:14px;
		font-family:'Open Sans', sans-serif;
		}

	.days {
		margin-left:3px;
	}

	.days span {
		color: #c1c1c1;
		font-size:14px;
		font-family:'Open Sans', sans-serif;
		}

	.days .padfix {
		padding-right:2px;
		padding-left:0px;
		}

	.padfix {
		padding-right:3px;
		padding-left:3px;
	}

	.btn {
		font-family:'Open Sans', sans-serif;
		transition: 0.2s;
	}

	.classinfo {
		margin-bottom: 8px;
		font-size: 21px;
		font-weight: 200;
		line-height: 1.4;
		margin-top: 0px;
		color: gray;
		font-family:'Open Sans', sans-serif;
		margin-left:2px;
	}
	
	hr {
		margin-top:22px !important;
	}
}


.accounts {

	padding-bottom: 40px;

	h3 {
		margin-top:3px;
		font-size:30px;
		margin-bottom:5px;
	}

	.form-inputs {
		width:500px !important;
	}

	.forms {
		width:500px !important;
	}

	.grouping {
		display:inline-block !important;
	}

	.form-actions {
		padding-top:5px;
		padding-bottom:15px;
	}

	.fixing {
		width:auto;
	}

	.updatebutton	{
		display:inline-block;
		color: white;
		background-color: #428bca;
		border-color: #5F9ED5;
		padding:0px 15px;
	}

	.cancelbutton	{
		color: #333333;
		background-color: white;
		border-color: #cccccc;
		padding:0px 15px;
	}

	.cancel_fix a {
		color:white !important;
	}
	.lead {
		margin-bottom:10px;
		font-size:21px;
		font-weight:500;
		margin-top:10px;
		font-family:'Open Sans', sans-serif;
	}

	h2 {
		font-size:35px;
		font-weight:600;
		font-family:'Open Sans', sans-serif;
		font-weight:600;
		margin-bottom:-10px;
		margin-top:5px;
		margin-left:-1px;
	}
	.names {
		padding-bottom: 12px;
	}
	p {
		font-family:'Proxima Nova', sans-serif;
	}

	.col-md-6 {
		padding:7px 15px;
	}

	select, input {
		margin-top: 4px;
		font-family:'Open Sans', sans-serif;
		/*
		padding: 19px 11px 19px 11px;
		*/
		border: 1px solid #d3dde6;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		max-height: 45px;
		color:#5D6068;
		letter-spacing:0.3px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	select {
		width: 100%;
	}

	p.cancel {
		margin-top:0px;
	}

	#user_title {
		display: block;
		width: auto;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555555;
		vertical-align: middle;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	}

	#user_sms_carrier {
	  margin-top:0px;
	  height:34px !important;
	  padding-left:12px;
	}

	label {
		font-family:'Open Sans', sans-serif;
		font-size:15px;
		font-weight:600;
		margin-bottom:4px;
		letter-spacing: 0.6px;
		line-height: 20.691720962524414px;

	}

	.email {
		margin-top: -2px;
		margin-bottom:6px;
	}

	.email label {
		padding-bottom:3px;
	}

	.hint {
	  font-size: 11px;
	}

	#user_title  {
	  margin-top: 1px;
	  height: 34px !important;
	}



	#edit_user {
		margin-top: 22px;
	}

	.mobilerows {
		margin-top: 9px;
	}

	.mobilerows label {
		margin-bottom:3px;
	}

	label.select {
		margin-bottom:7px;
	}


	select	{
		height:40px !important;
		outline:none;
	}

	.mobilephoneforms	{
		margin-bottom:3px;
	}

	.buttonset	{
	  padding:5px 15px;
	}

	.plan_value {
		display:none;
	}

	.plan_button {
	  padding: 22px 26px;
	  border-color: rgb(217, 217, 217) rgb(219, 219, 219) rgb(198, 198, 198);
	  border-width:1px;
	  border-style:solid;
	  color: rgb(147, 147, 147);
	  font-size:16px;
	  font-weight: 400 !important;
      letter-spacing: normal !important;
	  font-family:'Open Sans', sans-serif;
	  border-radius: 3px;
	  background: rgb(241, 241, 241);
	  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.07) 100%) #FCFCFC;
      background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.07) 100%) #FCFCFC;
	  background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.07) 100%) #FCFCFC;
      background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.07) 100%) #FCFCFC;
	  background: linear-gradient(180deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.07) 100%) #FCFCFC;
      box-shadow: 0 1px 2px rgba(116, 116, 116, 0.12);
      text-align:center;
      cursor:pointer;
      margin-right: 8px;
	}

	.plan_button:active {
	  box-shadow: 0 2px 3px rgba(108, 108, 108, 0.37) inset;
	}

	.plan_button:last-child	{
	  margin-right:0px;
	}

	.plan_button:hover {
	  background: rgb(238, 238, 238);
	  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) #F9F9F9;
	  background:    -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) #F9F9F9;
	  background:      -o-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) #F9F9F9;
	  background:     -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) #F9F9F9;
	  background:         linear-gradient(180deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) #F9F9F9;
	}

	.plan_value:checked + .plan_button {
		border-color: #CBCBCB #CDCDCD #D0D0D0;
		background: rgb(238, 238, 238);
		background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) rgb(238, 238, 238);
		background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) rgb(238, 238, 238);
		background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) rgb(238, 238, 238);
		background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) rgb(238, 238, 238);
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.11) 0%, rgba(50, 50, 50, 0.14) 100%) rgb(238, 238, 238);
		box-shadow: 0 2px 3px rgba(108, 108, 108, 0.32) inset;
		color: #8E8E8E;
	}

	#user_plan_ {
	  display:none;
	}

	.title {
	  font-family: 'Open Sans', sans-serif;
	  color: rgb(147, 147, 147);
	  font-weight:600;
	  font-size:16px;
	}

	.pricing {
	  font-size:16px;
	  font-family: 'Open Sans', sans-serif;
	  font-weight:300;
	  margin-top:1px;
	}




}

.checkfix {

	input {
		display:inline-block !important;
		width:auto !important;
	height:auto;vertical-align:top;}

	string optional {
		vertical-align:top;
	}

	.form-group {
		margin-bottom:5px;
	}
	.class_session_start_time, .class_session_end_time {
		display:inline-block;
		margin-right:8px;
	}

	#class_session_name {
		margin-bottom:12px;
	}

	.actions {
		margin-bottom:12px;
	}

	h4 {
		display:inline-block;
		vertical-align:middle;
		margin-right:3px;
	}

	.daylist {
		display:inline-block;
		vertical-align:middle;
		margin-top:6px;
	}
	label.string.required {
		display:block;
	}

	#class_session_name {
		display:block;
		width:300px !important;
	}


}

.editingclass {

	h1 {
		margin-top:4px !important;

		padding-top:0px !important;
		padding-bottom:4px;
	}
}

.class-index {
	.class_name, .class_name a {
		font-family: 'Glegoo', serif !important;
		font-size: 23px;
		margin-bottom:-1px !important;
	}

	.teacher {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		color: #9d9d9d;
		text-transform:uppercase;
	}

	.time {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		display: inline-block;
		color: #767676;
	}

	span {
		color: #767676;
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
	}

	b {
		color: rgb(66, 66, 66);
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;

	}

	.class p {
		margin: 0 0 1px;
	}

	.classes {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.class {
		display: inline-block;
		background-color: #fdfdfd;
		-webkit-border-radius: 3px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius: 3px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-radius: 3px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		margin-bottom: 13px;
	}

	.info {
		padding: 25px;
		padding-bottom: 20px;
		padding-top: 20px;
		border-top: 1px solid #e5e6e9;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-right: 1px solid #dfe0e4;
		border-left: 1px solid #dfe0e4;
		padding-right: 35px;
	}

	.options {
		display: block;
		background-color: rgba(11, 11, 11, 0.12);
		background: linear-gradient(360deg, rgba(11, 11, 11, 0.09) 0%, rgba(77, 77, 77, 0) 100%) rgba(224, 224, 224, 0.49);
		padding: 12px 24px;
		border-top: #D7D7D7 1px solid;
		border-left: 1px #D2D2D2 solid;
		border-right: 1px #D2D2D2 solid;
		border-bottom: 1px #C8C8C8 solid;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		position: relative;
		z-index: 3;
	}

	.btn-default {
		border-width: 1px;
		border-color: #cdced0 #c5c6c8 #b6b7b9;
		border-style: solid;
		border-radius: 3px;
		color: #4E5665 !important;
		padding: 8px 22px;
		font-size: 14px;
		background: rgb(255, 255, 255);
		background: -webkit-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(247, 248, 249) 100%) rgb(255, 255, 255);
		background:    -moz-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(247, 248, 249) 100%) rgb(255, 255, 255);
		background:      -o-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(247, 248, 249) 100%) rgb(255, 255, 255);
		background:     -ms-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(247, 248, 249) 100%) rgb(255, 255, 255);
	    background:         linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(247, 248, 249) 100%) rgb(255, 255, 255);
	}

	.btn-default:active {
		-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.21) inset;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.21) inset;
	}

	a {
		text-decoration:none;
		color:black;
		font-family:'Open Sans', sans-serif;
	}

	.main-title {
		margin-bottom:10px;
		margin-top:0px;
	}
}

.sessions-new #footer {
	margin-top: -80px;
height: 80px !important;
line-height: 34px;
}

.signingin	{
	.container	{
	margin: auto;
	max-width:960px;
	position:relative;
	}

	.centerin	{
		max-width: 400px;
		margin: auto;
	}

	.widgetshadow	{
	-webkit-box-shadow: 0px 1px 31px -6px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 1px 31px -6px rgba(0,0,0,0.55);
box-shadow: 0px 1px 31px -6px rgba(0,0,0,0.55);
max-width:400px;
	}

	label.email, label.password	{
	margin-bottom:4px;
	}

	.textcenter	{
		text-align: center;
	}

	.signtitle	{
		font-family:'Open Sans', sans-serif;
		font-size: 14px;
		text-align: center;
		margin: 0;
		padding: 13px;
		color: #A0A0A0;
		text-transform: uppercase;
}


	input {
	height:auto;
	}

	.top {
	  -webkit-border-top-left-radius: 5px;
	  -webkit-border-top-right-radius: 5px;
	  -moz-border-radius-topleft: 5px;
	  -moz-border-radius-topright: 5px;
	  border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
      border:1px solid #ccc;
	  max-width:400px;
	  background-color:white;
	}

	.button {
	max-width:400px;
	padding:18px;
	}

	.logwidget	{
	background-color:white;
	padding:35px;
	border:1px solid #ccc;
	display:block;
	border-top:none;
	max-width:400px;
	margin-bottom:10px;
	border-bottom:none;
	}

	#user_remember_me, .boolean .optional	{
		display:inline-block;
		width:auto;
	}

	#user_remember_me	{
		margin-right:5px;
		vertical-align:middle;
		margin-top: -3px;
	}	

	div.form-inputs	{
	margin-top:-4px;
	}

	label.boolean .optional {
	vertical-align:bottom;
	margin-bottom: 0px;
	}

	h2 {
		margin-top:4px;
	}
	.fixed {
		width:320px !important;
	}

	.email {
		margin-bottom:10px;
		margin-top:0px;
	}
	.password {
		margin-bottom:10px;
		margin-top:0px;
	}

	.centering {
		text-align:center;
	}

	input.button {
		margin-bottom:25px;
		margin-top:-17px;
		color:#A0A0A0;
		border-radius:0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		-webkit-border-bottom-right-radius: 5px !important;
		-webkit-border-bottom-left-radius: 5px !important;
		-moz-border-radius-bottomright: 5px !important;
		-moz-border-radius-bottomleft: 5px !important;
		border-bottom-right-radius: 5px !important;
		border-bottom-left-radius: 5px !important;
		text-transform:uppercase;
	}

	.fix {
	-webkit-border-bottom-right-radius: 5px !important;
		-webkit-border-bottom-left-radius: 5px !important;
		-moz-border-radius-bottomright: 5px !important;
		-moz-border-radius-bottomleft: 5px !important;
		border-bottom-right-radius: 5px !important;
		border-bottom-left-radius: 5px !important
	}

	a {
		color:black;
		text-decoration:none;color:#aaa;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	a:hover {
		color:#535353;
	}
}



.billing {

	.fixed {
		width:456px;
	}

	#card_month, #card_year {
		display: inline-block;
		width: auto;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555555;
		vertical-align: middle;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	}

	.col-md-6 {
		padding-left: 0px;
		padding-right: 0px;
		margin-right:0px;
	}

	.col-md-6:first-child {
		padding-right:10px;
		padding-left:0px;
	}
	.security {
		padding-top:10px;
		height:70px;
		padding-bottom:70px;
	}

	.button {
		width:auto;
	}
	h1 {
		margin-top:0px;
		padding-bottom:3px;
	}
	a {
		text-decoration:none;
		color:black;
	}
}

.privacy {
	h1 {
	  margin-top:0px;
	  padding-top:0px;
	  color:white;
	  font-size:46px;
	  text-transform:uppercase;
	  margin-bottom: -44px;
	}

	h3 {
	color:white;
	text-transform:uppercase;
	font-weight:300;
	margin-left: 129px;
	}

	.header	{
	  position:relative;
	  top:54px;
	}

	.banner {
	height:200px;
	margin-top: -20px;
	background: rgb(23, 23, 23);
	background: -webkit-linear-gradient(270deg, rgba(26, 26, 26, 0.84) 0%, rgba(33, 33, 33, 0.91) 100%) rgb(23, 23, 23);
	background: -moz-linear-gradient(270deg, rgba(26, 26, 26, 0.84) 0%, rgba(33, 33, 33, 0.91) 100%) rgb(23, 23, 23);
	background: -o-linear-gradient(270deg, rgba(26, 26, 26, 0.84) 0%, rgba(33, 33, 33, 0.91) 100%) rgb(23, 23, 23);
	background: -ms-linear-gradient(270deg, rgba(26, 26, 26, 0.84) 0%, rgba(33, 33, 33, 0.91) 100%) rgb(23, 23, 23);
	background: linear-gradient(180deg, rgba(26, 26, 26, 0.84) 0%, rgba(33, 33, 33, 0.91) 100%) rgb(23, 23, 23);
	box-shadow: 0 -4px 5px rgba(0, 0, 0, .5) inset;
	}

	.test {
	  background:image-url("washout.png");
	  background-size:cover;
	  display:inline-block;
	  background-position: center center;
	  width: 457px;
	  height: 384px;
      margin: auto 0;
      position:absolute;
      left:325px;
      top:-22px;
	}

	.updated {
	color: rgb(152, 152, 152);
position: relative;
top: 82px;
font-size: 12px;
text-transform: uppercase;
	}


}
