%footer#footer
  .container
    %nav
      %ul
        %li &copy; 2014 ClassStatus
        %li= link_to 'About', about_path
        - if user_signed_in?
          %li= link_to "Billing", billing_edit_path
        %li= link_to "Blog", "//blog.classstatus.co"
        %li= link_to "Privacy", privacy_path

    .social
      %span Connect with us
      %a{href: "http://facebook.com/classstatus", target: "_blank"}
        %i.fa.fa-facebook-square
      %a{href: "http://twitter.com/classstatus", target: "_blank"}
        %i.fa.fa-twitter-square
      %a{href: "http://instagram.com/classstatus", target: "_blank"}
        %i.fa.fa-instagram
